

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: sans-serif;
    margin-left: 1px;
}

.logo {
    margin-left: 100px;
}

.logo > svg {
    position: absolute;
    top: 22px;
    left: 4.2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 69px;
    background-color: white;
    z-index: 1;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: black;
    margin-inline: 1rem;
}

.nav__icons {
    cursor: pointer;
    margin-right: 80px;
}

.nav__icons > svg {
    margin-inline: 5px;
}

/*///////////*/

header {
    width: 100vw;
    height: 806px;
}

.header__img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    left: 550px;
    top: 50px;
    z-index: 1;
}

.header__bg {
    width: 1000px;
    height: 1000px;
    border-radius: 80% 70% 90% 70%;
    background-color: #5fd788;
    position: relative;
    bottom: 900px;
    left: 600px;
    z-index: -1;
}

.header__title {
    font-size: 4rem;
    width: 9ch;
    position: absolute;
    left: 100px;
    top: 280px;
    color: #5fd788;
    margin: 1rem 2rem;
}

.header__desc {
    width: 36ch;
    position: absolute;
    left: 100px;
    top: 430px;
    margin: 1rem 2rem;
}

/* Product = type, animation, small details */

.product__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.product__card {
    width: 250px;
    height: 250px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0rem 1rem;
    box-shadow: 2px 2px 4px lightgray;
    margin: 1rem 4px;
}

.card > label {
    color: #5fd788;
    margin-top: 20px;
}

/*////*/

.aroma__section {
    width: 100%;
    height: 650px;
    background-color: white;
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.article__img {
    max-width: 100%;
}

.article__content {
    height: auto;
}

.article__title {
    font-size: 2.5rem;
    width: 24ch;
    text-align: right;
    color: #5fd788;
    margin-bottom: 1rem;
}

.article__desc {
    width: 400px;
    text-align: right;
    margin-left: 8rem;
    margin-bottom: 1rem;
}

.article__cta {
    padding: 0.5rem 1rem;
    background-color: #5fd788;
    color: white;
    border-radius: 0.5rem;
    margin-left: 21.125rem;
}

/*////*/

main {
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main__content {
    z-index: 1;
    height: auto;
    min-width: 360px;
    margin: 2rem 6rem 2rem 2rem;
    text-align: center;
}

.main__content > h2 {
    color: #5fd788;
    font-size: 3rem;
    margin-bottom: 40px;
    width: 11ch;
}

.main__content-cta {
    background-color: #5fd788;
    padding: 1rem 5rem;
    border-radius: 0.5rem;
    color: white;
    margin-right: 6.5rem;
}

.main__card-container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-inline: auto;
}

.main__card {
    width: 23.125rem;
    height: 24.375rem;
    margin: 2rem 1rem;
}

.main__card > img {
    z-index: 0;
}

.main__card-content {
    position: relative;
    bottom: 102px;
    left: 4px;
    width: 22.75rem;
    height: 5.625rem;
    background-color: rgba(211, 211, 211, 0.767);
    border-radius: 0px 0px 0px 15px;
}

.main__card-content > h4 {
    padding-inline: 1rem;
    margin-top: 0.5rem;
    padding-top: 0.8rem;
}

.main__price {
    margin-left: 1rem;
    padding: 0.2rem 0.8rem;
    color: white;
    background-color: #5fd788;
    border-radius: 1rem;
}

.main__card-content > p {
    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
}

.main__cart {
    position: relative;
    bottom: 3rem;
    left: 19.525rem;
    cursor: pointer;
}

.more__icon {
    position: relative;
    left: 67%;
}

/*///*/

.product__soap {
    width: 100%;
    height: 515px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}


.article__content-soap {
    width: auto;
    min-width: 360px;
    height: 520px;
    font-size: 2rem;
    color: white;
    background-image: url(../img/Frame.png);
    object-fit: contain;
}

.article__content-soap > h2 {
    margin: 100px 50px 70px 50px;
}

.article__content-soap > a {
    font-size: 1.25rem;
    padding: 0.5rem 3rem;
    background-color: white;
    border-radius: 0.5rem;
    margin-left: 50px;
}

.product__soap > img {
    max-width: 650px;
}

/*///*/

.trends {
    width: 100vw;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.trend__content > img {
    position: relative;
    top: 80px;
}

.trend__content > h2 {
    position: relative;
    bottom: 320px;
    left: 80px;
    font-size: 3rem;
    color: #5fd788;
}

.trend__content > a {
    position: relative;
    bottom: 280px;
    left: 70px;
    padding: 0.5rem 3rem;
    background-color: #5fd788;
    border-radius: 0.5rem;
    color: white;
}

.trends-more {
    position: relative;
    left: 710px;
    bottom: 100px;
}

.trend__card {
    position: relative;
    left: 120px;
}

.card2 {
    left: -50px;
}

.trend__card-content {
    width: 369px;
    height: 90px;
    position: relative;
    bottom: 100px;
    left: 3px;
    background-color: rgba(211, 211, 211, 0.767);
    border-radius: 0px 0px 0px 20px;
}

.trend__card-content > h3 {
    padding-top: 0.8rem;
    padding-left: 1rem;
    font-size: 1.1rem;
}

.trend__price {
    font-size: 1rem;
    margin-left: 1rem;
    padding: 0.2rem 0.8rem;
    color: white;
    background-color: #5fd788;
    border-radius: 1rem;
}

.trend__card-content > p {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.trend__cart {
    position: relative;
    left: 320px;
    bottom: 60px;
    cursor: pointer;
}

/* Blog = card top border, type, small details */

.blog {
    height: auto;
}

.blog__title {
    text-align: center;
    color: #5fd788;
    font-size: 3rem;
}

.blog__card-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3rem;
    padding-top: 2rem;
    flex-wrap: wrap;
}

.blog__card {
    width: 340px;
    height: 395px;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px rgb(180, 180, 180);
    margin: 2rem 1.5rem;
}

.blog__content > h4 {
    padding: 1rem;
    color: #5fd788;
}

.blog__content > p {
    padding: 1rem;
}

/* Footer */

footer {
    width: auto;
    height: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

footer > h1 {
    padding-top: 2rem;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links > h3 {
    margin-bottom: 10px;
    color: #5fd788;
    padding-top: 2rem;
    padding-inline: 2rem;
}

.links > a {
    margin: 0.2rem 0rem;
    padding: 0.125rem;
}

aside {
    text-align: center;
    background-color: whitesmoke;
    padding-top: 2rem;
}

